<a href="https://colab.research.google.com/github/yasclar/CPE10_claridad/blob/main/act1_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(type(2+3j))
print(type('Hello World'))
print(type("Hello World"))
print(type(True))
print(type(False))
print(type([1, 2, 3, 4, 5]))
print(type((1, 2, 3, 4, 5)))
print(type({'name':'Yasmin tricia Claridad'}))
print(type(None))
value = 5
value2 = -6

<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [ ]:
print(value+value2)

-1

In [ ]:
value, value2 = 5.0, 6
print(value+value2)

11.0

In [ ]:
value, value2 = -5, 6.1
print(value+value2)

1.0999999999999996

In [ ]:
value, value2 = "Hello", 'world'
print(value + " " + value2)

Hello world

In [ ]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value+value2)

[1, 2, 3, 4, 5, 6]

In [ ]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value+value2)

(1, 2, 3, 4, 5, 6)

In [ ]:
value, value2 = {'name':'Yasmin'}, {'age':20}
print(value+value2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
value, value2 = 30, 4

print(value*value2)
print(value2**2)
print(value2**3)
print(value * value2 + value2**2 + 1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

In [11]:
print (input("What's your name?"))

What's your name?yasmin
yasmin

In [16]:

name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))

bmi = weight / height**2
print (bmi)

Enter your name: Yasmin
Enter your weight(kg): 68
Enter your height(m): 1.65
24.977043158861342